# Plantilla de variables de entorno.
# Este archivo SI se sube a git (no tiene secretos reales).
# Copia este archivo como .env y pega ahi tus llaves de verdad en la Semana 2.

GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=
